* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

:root {
    --menu-mobile-width: 400px;
}

.btn {
    border: none;
    outline: none;
    padding: 4px;
    text-decoration: none;
}

.btn-primary {
    background: #de8ebe;
    display: inline-block;
    border-radius: 5px;
}

.btn-primary-link {
    display: block;
    color: #fff;
    text-decoration: none;
    border: #fff 1px dashed;
    border-radius: 5px;
    padding: 6px 20px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.position-relative {
    position: relative;
}

.hide {
    display: none;
}