@media (max-width: 33.75em) {
    .line {
        display: none;
    }

    .line-on-mobile {
        display: block;
    }

    .btn-menu-mobile {
        top: 50%;
        transform: translateY(-100%);
    }

    .header__menu {
        width: 100%;
    }
}

/*  740px -> 1024px */
@media (max-width: 64em) {
    .header__menu {
        display: block;
        position: fixed;
        background-color: #f1f1f1;
        left: -100%;
        top: 180px;
        z-index: 20;
        max-width: 100%;
        width: var(--menu-mobile-width);
        padding: 50px 30px 30px;
        margin: 0;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        transition: all linear .3s;
    }

    .header__menu.active {
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    .sub__menu {
        position: relative;
        box-shadow: none;
        background-color: #f1f1f1;
        transform: scale(1);
        padding-left: 40px;
        opacity: 1;
        visibility: visible;
    }

    .btn-home {
        background-color: #f1f1f1;
        color: #333;
    }

    .header_container_menu-search input {
        flex: 1;
    }

    .header_container_menu-images {
        padding-top: 12px;
    }

    .btn-menu-mobile {
        display: block;
    }
}